<div class="profile-container">
    <img src="https://scontent-gru1-2.xx.fbcdn.net/v/t39.30808-6/337284054_1635171660261282_5119647470703918731_n.jpg?stp=dst-jpg_p600x600&_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=fj7o9ITSJacAX8N9nJV&_nc_ht=scontent-gru1-2.xx&oh=00_AfBbGXeMfE_mIZqoPR_okg3jXcigjzzUu2Xvo87cZmAv3g&oe=6527689A">
    <div class="profile-title">
        <h1>Higor Henrique</h1>
    </div>
    <div class="profile-text">
        <p>
            Sou um desenvolvedor em progresso. Você pode me achar em minhas redes abaixo.
        </p>
    </div>
    <div class="profile-links">
        <a href="https://github.com/hhfl" class="fa fa-github" target="_blank"></a>
        <a href="https://www.linkedin.com/in/higor-henrique-76aaab266/" class="fa fa-linkedin" target="_blank"></a>
    </div>
    <div class="profile-dio">
        <a href="https://web.dio.me/users/hhfl12366877?tab=achievements" target="_blank">
            <h1 class="DIO">DIO</h1>
        </a>
    </div>
</div>

