<!-- menu-bar -->
<div class="menu-bar-container">
    <div class="profile-links">
        <a href="https://github.com/hhfl" class="fa fa-github" target="_blank"></a>
        <a href="https://www.linkedin.com/in/higor-henrique-76aaab266/" class="fa fa-linkedin" target="_blank"></a>
        <a href="#" class="fa fa-search"></a>
        <a href="#" class="fa fa-bars"></a>
    </div>
    <div class="profile-dio">
        <a href="https://web.dio.me/users/hhfl12366877?tab=achievements" target="_blank">
            <h1 class="DIO">DIO</h1>
        </a>
    </div>
    <div class="menu-bar-logo">
        <a href="#" class="logo"></a>
    </div>
  </div>
  <hr>
  <div class="submenu-container">
    <div class="submenu-icons">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Categorias</a></li>
            <li><a href="">Formatos de Posts</a></li>
            <li><a href="">Post Únicos</a></li>
        </ul>
    </div>
  
  </div>
  <hr>
<!-- content component -->
<div class="content-container">
    <div class="content-title">
        <h1>{{ contentTitle }}</h1>
    </div>
    <div class="content-cover">
        <img src="{{ photoCover }}" alt="">
    </div>
    <div class="content-description">
        <p>{{ contentDescription }}</p>
    </div>
</div>
