<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles-main">
        <app-big-card
        Id="1"
        cardDescription="Os jogos de computador estão se tornando indistinguíveis das fotos ou vídeos do mundo real."
        cardTitle="Os truques tecnológicos que deixam os games mais próximos da realidade"
        photoCover="https://s2-g1.glbimg.com/0uomv8Leog8MhPAqZvm1G4b-QmM=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/a/4/4Loj8IRYiImphNdPvoLg/games-1.jpg"
        >
        </app-big-card>
        <app-big-card
        Id="2"
        cardDescription="Empresa fez o anúncio sobre nova versão do RPG lançado em 1996 nesta quarta-feira (21)."
        cardTitle="'Super Mario RPG' vai ganhar remake para Nintendo Switch com lançamento em novembro"
        photoCover="https://s2-g1.glbimg.com/O1u6NqOgkkaw8AHCABGHyEZxkXY=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/q/p/5KmqaXS52RptpaRoOFSg/mario-bros.-rpg.jpeg"
        >

        </app-big-card>
        <app-big-card
        Id="3"
        cardDescription="Jogo ganhou demonstração mais aprofundada durante Ubisoft Forward nesta segunda-feira (12)."
        cardTitle="Avatar: Frontiers of Pandora', game baseado nos filmes, vai ser lançado em 7 de dezembro"
        photoCover="https://s2-g1.glbimg.com/U0sLosEmcbUSiGgfJj5G3Oym3UQ=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/R/G/p3AFAKQRaSaT5e5Ygj1Q/avatar-frontiers-of-pandora.jpg"
        >

        </app-big-card>
    </div>
    <div class="articles-others">
        <app-profile-card></app-profile-card>
        <app-small-card
        Id="4"
        cardTitle="Os ambiciosos planos da Netflix para o mercado de games"
        photoCover="https://s2-g1.glbimg.com/IqZBN0GqTg3wk2ohbHx9fWo1tRw=/1080x608/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/C/H/5NwetnSTiGrdhPFLkFmw/6c5f8bf0-479e-11ee-abb8-4112410ce0b0.jpeg"
        >

        </app-small-card>
        <app-small-card
        Id="5"
        cardTitle="As armadilhas dos games para fazer crianças gastarem dinheiro sem parar"
        photoCover="https://s2-g1.glbimg.com/kxva4Rz3rc5yR3xQeI8l7wHxDu0=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/e/h/cP4AUrR0mtzY2ifsOZ5g/filho-de-nara-arquivo-pessoal.jpg"
        >

        </app-small-card>
        <app-small-card
        Id="6"
        cardTitle="Microsoft vence processo e pode concluir compra da Activision Blizzard"
        photoCover="https://s2-g1.glbimg.com/fVSo8Bw0X-jOR8KVY5KGAE1dDtg=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/t/k/vXDGyARnCaAyuGOEaHGA/2022-01-18t150934z-801011760-rc2q1s98734j-rtrmadp-3-activision-m-a-microsoft.jpg"
        >

        </app-small-card>
    </div>
</div>